
.vs/5ParallelTasks/DesignTimeBuild/.dtbcache.v2
.vs/5ParallelTasks/FileContentIndex/3470a11f-34e7-462d-b726-5dca105e7949.vsidx
.vs/5ParallelTasks/v17/.futdcache.v2
.vs/5ParallelTasks/v17/.suo
.vs/ProjectEvaluation/5paralleltasks.metadata.v7.bin
.vs/ProjectEvaluation/5paralleltasks.projects.v7.bin
5ParallelTasks/obj/5ParallelTasks.csproj.nuget.dgspec.json
5ParallelTasks/obj/5ParallelTasks.csproj.nuget.g.props
5ParallelTasks/obj/5ParallelTasks.csproj.nuget.g.targets
5ParallelTasks/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.AssemblyInfo.cs
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.AssemblyInfoInputs.cache
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.assets.cache
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.GeneratedMSBuildEditorConfig.editorconfig
5ParallelTasks/obj/project.assets.json
5ParallelTasks/obj/project.nuget.cache
