
5ParallelTasks/obj/project.nuget.cache
5ParallelTasks/obj/project.assets.json
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.GeneratedMSBuildEditorConfig.editorconfig
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.assets.cache
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.AssemblyInfoInputs.cache
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.AssemblyInfo.cs
5ParallelTasks/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
5ParallelTasks/obj/5ParallelTasks.csproj.nuget.g.targets
5ParallelTasks/obj/5ParallelTasks.csproj.nuget.g.props
5ParallelTasks/obj/5ParallelTasks.csproj.nuget.dgspec.json
.vs/5ParallelTasks/FileContentIndex/3470a11f-34e7-462d-b726-5dca105e7949.vsidx
