
.vs/5ParallelTasks/DesignTimeBuild/.dtbcache.v2
.vs/5ParallelTasks/FileContentIndex/e61fc05c-3aa5-4d0c-b411-73e6b8b063e4.vsidx
.vs/5ParallelTasks/v17/.futdcache.v2
.vs/5ParallelTasks/v17/.suo
.vs/ProjectEvaluation/5paralleltasks.metadata.v7.bin
.vs/ProjectEvaluation/5paralleltasks.projects.v7.bin
5ParallelTasks/bin/Debug/net7.0/5ParallelTasks.deps.json
5ParallelTasks/bin/Debug/net7.0/5ParallelTasks.dll
5ParallelTasks/bin/Debug/net7.0/5ParallelTasks.exe
5ParallelTasks/bin/Debug/net7.0/5ParallelTasks.pdb
5ParallelTasks/bin/Debug/net7.0/5ParallelTasks.runtimeconfig.json
5ParallelTasks/obj/5ParallelTasks.csproj.nuget.dgspec.json
5ParallelTasks/obj/5ParallelTasks.csproj.nuget.g.props
5ParallelTasks/obj/5ParallelTasks.csproj.nuget.g.targets
5ParallelTasks/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.AssemblyInfo.cs
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.AssemblyInfoInputs.cache
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.assets.cache
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.csproj.BuildWithSkipAnalyzers
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.csproj.CoreCompileInputs.cache
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.csproj.FileListAbsolute.txt
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.dll
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.GeneratedMSBuildEditorConfig.editorconfig
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.genruntimeconfig.cache
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.pdb
5ParallelTasks/obj/Debug/net7.0/5ParallelTasks.sourcelink.json
5ParallelTasks/obj/Debug/net7.0/apphost.exe
5ParallelTasks/obj/Debug/net7.0/ref/5ParallelTasks.dll
5ParallelTasks/obj/Debug/net7.0/refint/5ParallelTasks.dll
5ParallelTasks/obj/project.assets.json
5ParallelTasks/obj/project.nuget.cache
.vs/5ParallelTasks/FileContentIndex/068a8055-6159-4118-a340-be14540c0c1c.vsidx
.vs/5ParallelTasks/FileContentIndex/6ba76462-f2c7-4b17-9b75-e455adc4fb57.vsidx
